<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newstatus="{{devour}}">
		{{#if devour}}Devour!
		{{else}}Reset
		{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
