<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}NOT DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
